*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body{
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

:root{
    font-size: 62.5%;
}

body, button, input, textarea{
    /* intervalo de tamanho dependendo do tamanho da tela */
    font-size: clamp(14px, 1.6rem, 2vw);

    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Poppins', sans-serif;*/
}

/* Header ===========*/
header{
    background: #2d4a22;
    padding: 3rem 0;
    text-align: center;
    color: #fff;
}

header div{
    display: flex;
    align-items: center;
    justify-content: center;
}

header div .verde{
    color: #49aa26;
}

header div img{
    width: 3rem;
    margin-left: -0.3rem;
}

header span{
    font-size: 3rem;
}

section{
    padding: 5rem 9%;
}

.input-box{
    width: 50%;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    border: 0.1rem solid #49aa26;
}

.input-box label, .input-box .input-valor{
    height: 7rem;
    width: 50%;
    display: flex;
    align-items: center;
}

.input-box label, .input-box span{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2.7rem;
}

.input-box label{
    color: #fff;
    background: #49aa26;
    border-radius: 0.8rem 0 0 0.8rem;
    padding-left: 3rem;
}

.input-box .input-valor{
    padding: 0 2rem;
}

.input-box .input-valor input{
    width: 100%;
    background: none;
    outline: none;
    border-bottom: 0.3rem solid #49aa26;
    color: #49aa26;
    font-size: 2.7rem;
    font-weight: 600;
}

.input-box .input-valor i, .input-box .input-valor span{
    color: #49aa26;
}

.input-box .input-valor i{
    font-weight: 600;
    font-size: 2.6rem;
    margin-right: 1rem;
}