*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

:root{
    font-size: 62.5%;
}

body, button, input, textarea{
    /* intervalo de tamanho dependendo do tamanho da tela */
    font-size: clamp(14px, 1.6rem, 2vw);

    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Poppins', sans-serif;*/
}

/* Header ===========*/
header{
    background: #2d4a22;
    padding: 3rem 0;
    text-align: center;
    color: #fff;
}

header div{
    display: flex;
    align-items: center;
    justify-content: center;
}

header div .verde{
    color: #49aa26;
}

header div img{
    width: 3rem;
    margin-left: -0.3rem;
}

header span{
    font-size: 2rem;
}
